<header>
  <div class="container">
    <div class="dynamic-text" [routerLink]="['/']">
      <!-- Dynamic Text Panel -->
      <!-- loop for creating empty pannel divs -->
      <div
        class="pannel"
        *ngFor="
          let item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
        "
      ></div>
    </div>

    <!--Move To Dice Page  -->
    <button
      [routerLink]="['/dice']"
      routerLinkActive="router-link-active"
      class="link-btn"
    >
      <span>Dice</span>
    </button>

    <!-- Move To VR Room Page  -->
    <button
      [routerLink]="['/vr-scene']"
      routerLinkActive="router-link-active"
      class="link-btn"
    >
      <span>VR Room</span>
    </button>
  </div>
</header>
