@import '../../../../scss/abstracts/variables';
@import '../../../../scss/abstracts/mixins';

.abstraction {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 100px 0;
  flex-direction: column;
  position: relative;
  height: 100vh;
  min-height: 600px;
  width: 100vw;

  @include upto-md {
    overflow-x: hidden;
    max-height: 600px;
  }

  .canvas {
    width: 50vw;
    height: 50vh;
    min-height: 500px;

    @include upto-lg {
      width: auto;
      height: 400px;
      min-height: auto;
    }
  }

  .play-btn {
    padding: 0.6rem 1.2rem;
    border-radius: 5px;
    border: none;
    border: 2px solid $color-green-secondary;
    background: transparent;
    transition: 0.25s ease-in-out;
    font-weight: bold;
    z-index: 2;
    cursor: pointer;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    min-width: 170px;

    &:hover {
      background-color: rgba(#fff, 0.1);
    }
  }
}

.rotate-div {
  cursor: grab;
  position: absolute;
}