@import '../../../../scss/abstracts/mixins';

.objects {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  canvas {
    cursor: grab;
    width: 500px;

    @include upto-sm {
      width: 300px;
    }

    &:grab {
      cursor: grabbing;
    }
  }
}